/*
background-grey: #F4F3F4;
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
button-purple: #192592
*/

@media(max-width: 767px) {

    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }

/*barra de navegación*/

nav{
    height: 100px;
    width: 688px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: white;
    
}

nav img{
    height: 100px;
    width:  200px;
}
  

/*primera sección*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;

}
    
header > h1{
    font-size: 70px;
    width: 450px;
    color:#2C303F;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 5px;
    
}

.text1{
    font-size: 30px;
    width: 500px;
    color: #5b5e6d;;
    margin-bottom: 50px;
}

.company{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F3F4;
    margin-top: 50px;
    margin-bottom: 50px;
}
.company h2{
    margin-top: 50px;
}

.prefinal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 550px;
    height: 80px;
    font-size: 25px;
    color: #5b5e6d;
    border-radius: 7px;
    border-color: gray;
    margin-bottom: 50px;
    text-align: left 20px;
}

button{
    width: 550px;
    height: 80px;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    border-radius: 7px;
    background-color: #192592;
    margin-bottom: 50px;
} 

.text2{
    font-size: 30px;
    width: 500px;
    margin-bottom: 10px;
    text-align: center;
}

h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 50px;
    color: #2C303F;
    margin-bottom: 20px;
    margin-top: 30px;
}
 
.text3{
    font-size: 30px;
    width: 550px;
    color: #5b5e6d;
    margin-bottom: 50px;
    text-align: center;
}

.company button{
    width: 550px;
    height: 80px;
    font-size: 25px;
    color: #192592;
    border-radius: 7px;
    background-color: white;
    border-color: #192592;
    margin-bottom: 50px;
}

.company img{
    width: 50%;
    height: 50%;
    margin-bottom: 50px;
    margin-top: 70px;
}

.footer ul{
    background-color: #F4F3F4;;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    padding: 25px;
    font-size: 25px;
    color: #2C303F;
}

.final{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: #2C303F;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F4F3F4;
    justify-content: center;
    align-items: center; 
}

.final1{
    background-color: #F4F3F4;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.listas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;     
}

.t{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    padding-bottom: 30px;
    padding-top: 15px;
    padding-left: 50px;
    font-size: 25px;
    line-height: 50px;
    list-style: none;
}

.t li:nth-child(1){
    font-size: 35px;
    color: #2C303F;
}
}



/*Medida landskape*/

@media(961px > width > 767px) {

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

/*barra de navegación*/

nav{
height: 30px;
width: 962px;
display: flex;
justify-content: space-around;
position: fixed;
background-color: white;

}

nav img{
height: 40%;
width:  40%;
}


/*primera sección*/

header{
display: flex;
flex-direction: column;
align-items: center;

}

header > h1{
font-size: 70px;
width: 450px;
color:#2C303F;
margin-top: 100px;
margin-bottom: 50px;
padding: 5px;

}

.text1{
font-size: 30px;
width: 500px;
color: #5b5e6d;;
margin-bottom: 50px;
}

.company{
display: flex;
flex-direction: column;
align-items: center;
background-color: #F4F3F4;
margin-top: 50px;
margin-bottom: 50px;
}
.company h2{
margin-top: 50px;
}

.prefinal{
display: flex;
flex-direction: column;
align-items: center;
}

input{
width: 550px;
height: 80px;
font-size: 25px;
color: #5b5e6d;
border-radius: 7px;
border-color: gray;
margin-bottom: 50px;
text-align: left 20px;
}

button{
width: 550px;
height: 80px;
font-size: 25px;
color: white;
font-weight: bolder;
border-radius: 7px;
background-color: #192592;
margin-bottom: 50px;
} 

.text2{
font-size: 30px;
width: 500px;
margin-bottom: 10px;
text-align: center;
}

h1{
display: flex;
flex-direction: column;
align-items: center;
}

h2{
font-size: 50px;
color: #2C303F;
margin-bottom: 20px;
margin-top: 30px;
}

.text3{
font-size: 30px;
width: 550px;
color: #5b5e6d;
margin-bottom: 50px;
text-align: center;
}

.company button{
width: 550px;
height: 80px;
font-size: 25px;
color: #192592;
border-radius: 7px;
background-color: white;
border-color: #192592;
margin-bottom: 50px;
}

.company img{
width: 50%;
height: 50%;
margin-bottom: 50px;
margin-top: 70px;
}

.footer ul{
background-color: #F4F3F4;;
display: flex;
justify-content: space-around;
align-items: flex-end;
list-style: none;
padding: 25px;
font-size: 25px;
color: #2C303F;
}

.final{
display: flex;
flex-direction: row;
font-size: 25px;
color: #2C303F;
padding-top: 30px;
padding-bottom: 30px;
background-color: #F4F3F4;
justify-content: center;
align-items: center; 
}

.final1{
background-color: #F4F3F4;
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: space-between;
}

.listas{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
justify-content: center;
align-items: center;     
}

.t{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 300px;
padding-bottom: 30px;
padding-top: 15px;
padding-left: 50px;
font-size: 25px;
line-height: 50px;
list-style: none;
}

.t li:nth-child(1){
font-size: 35px;
color: #2C303F;
}
}









/*<ul>
<li>Why Slack?</li>
<li>Pricing</li    >
<li>About Us</li>
<li>Your Workspaces</li>
</ul>*/